# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# macOS
.DS_Store

# Vim
*.swp
*.swo
*~

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# Temp files
*.tmp
*.temp
